---
import Head from "@components/Head.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts")).sort(
  (a, b) =>
    Date.parse(b.data.date.toString()) - Date.parse(a.data.date.toString())
);
---

<!doctype html>
<html lang="en">
  <Head
    title="Archive of every NUFC post since 2008"
    description="An entire list of every entry on Tyne Time since its inception almost twenty years ago."
  />
  <style>
    main {
      max-width: 960px;
      width: auto;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    ul li {
      transition: 0.2s ease;
    }
    ul li a {
      text-decoration: none;
    }
  </style>

  <body>
    <Header />
    <main>
      <section>
        <h1>Posts: ({posts.length})</h1>
        <ul>
          {
            posts.map((post) => (
              <li>
                <a href={`${post.data.url}`}>&rarr; {post.data.title}</a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
