<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />

    <title>Page Not Found</title>
  </head>
  <body>
    <main>
      <div class="card">
        <h1>Page Not Found</h1>
        <div class="body">
          <p>
            Looks like you've followed a broken link or entered a URL that
            doesn't exist on this site.
          </p>
          <p>
            Much like Danny Rose's loan spell at Newcastle; it's time to go
            home, fast!
          </p>
          <p>
            &larr; <a id="back-link" href="/">Back to Tyne Time</a>
          </p>
        </div>
      </div>
    </main>
  </body>
</html>

<style>
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    background: rgb(52, 56, 60);
    color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }

  main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 364px;
    padding: 24px;
    background: white;
    color: rgb(14, 30, 37);
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(14, 30, 37, 0.16);
  }

  a {
    margin: 0;
    font-weight: 600;
    line-height: 24px;
    color: black;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
</style>
