---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "Friends";
const description =
  "Other websites we like to check out from time to time. Only the finest of the finest - both NUFC and non-NUFC - make Tyne Time's list of friends.";
---

<BaseLayout title={title} description={description}>
  <h1>Friends of Tyne Time</h1>

  <p>Some of our many friends:</p>

  <ul>
    <li>
      <a href="https://blackandwhitetoon.blogspot.com/" target="_blank"
        >Black and White Toon 'blog</a
      >
    </li>
    <li>
      <a href="https://www.newcastleunited.us/" target="_blank"
        >I Wish I Was A Geordie</a
      >
    </li>
    <li>
      <a href="https://www.nufcblog.com/" target="_blank"
        >The <em>Original</em> NUFC Blog</a
      >
    </li>
    <li>
      <a href="https://www.nufcblog.co.uk/" target="_blank">NUFCBlog.co.uk</a>
    </li>
    <li><a href="http://www.nufcblog.org/" target="_blank">nufcblog.org</a></li>
    <li>
      <a href="https://www.nufc.co.uk/" target="_blank"
        >Official Newcastle United Site</a
      >
    </li>
    <li>
      <a href="http://thespectatorsview.com/" target="_blank">Spectators View</a
      >
    </li>
    <li>
      <a
        href="https://www.chroniclelive.co.uk/all-about/newcastle-united-fc"
        target="_blank">The Chronicle Live</a
      >
    </li>
    <li><a href="http://arsedevils.com/" target="_blank">Arsedevils</a></li>
  </ul>
</BaseLayout>
