<aside>
  <p>
    Words by <strong>Kevin Doocey</strong> — Life-long Newcastle United fan with
    occasional opinion pieces on the goings-on at St. James' Park from the island
    of Ireland. Follow <a
      href="https://twitter.com/kevindoocey/"
      class="link black underline">@KevinDoocey</a
    >.
  </p>
</aside>

<style>
  aside {
    margin-top: 10px;
    padding: 2rem 1rem;
  }

  aside p {
    max-width: 1200px;
    margin: 0 auto;
  }
</style>
