<style>
  #homepage-callout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  p {
    margin: 0;
  }
</style>

<div id="homepage-callout">
  <p>
    Latest thoughts and tidbits on Newcastle United from an Irish perspective,
    all here in Black & White.
  </p>

  <img
    src="/wp-content/uploads/2011/11/newsnow_ab.gif"
    alt="Featured on NewsNow"
  />
</div>
