---
type Props = Record<string, never>;
---

<div id="homepage-callout">
  <h2>
    Latest thoughts and tidbits on Newcastle United from an Irish perspective,
    all here in Black & White.
  </h2>

  <a
    href="http://www.newsnow.co.uk/h/Sport/Football/Premier+League/Newcastle+United"
    rel="nofollow noopener"
  >
    <img
      src="/wp-content/uploads/2011/11/newsnow_ab.gif"
      alt="As featured on NewsNow: Football news"
    /></a
  >
</div>

<style>
  #homepage-callout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  h2 {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
  }
</style>
