---
const { title, description, image } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="icon" type="image/png" rel="noopener" href="/favicon.ico" />
    <meta name="robots" content="noindex" />
  </head>
  <body>
    <h1>{title}</h1>
    <h2>{description}</h2>
  </body>
</html>
