name: semi-daily-build-cloudflare

on:
  schedule:
    - cron: "23 14 * * */2"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger cloudflare site build
        run: |
          curl -X POST -d '{}' ${{ secrets.CF_BUILD_WEBHOOK }}
